@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bb {
    @apply border-2 border-black;
  }

  .btn {
    @apply bb border-primarycolor bg-primarycolor px-10 py-5 text-center text-lg font-semibold uppercase text-white hover:border-black hover:bg-white hover:text-black;
  }
  


  .mycontainer {
    @apply  mx-auto md:w-5/6 lg:w-3/4 xl:w-9/12 2xl:w-10/12 ;
  }
  .rubrik {
    @apply text-3xl font-bold;
  }
}
@font-face {
  font-family: "Themify";
  src:
    url("./assets/fonts/themify.woff2") format("woff2"),
    url("./assets/fonts/themify.woff") format("woff"),
    url("./assets/fonts/themify.ttf") format("truetype");
  font-display: swap; /* For ikke at risikere FOIL */
  font-weight: normal;
  font-style: normal;
}
.cut-corner {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 55%);
}
